.reservation-complety {
    border: 3px solid rgba(255, 255, 255, 1);
    background-color: rgba(217, 217, 217, 0.1);
}

#filter {
    background-color: #fff;
}

.room-section {
    background-color: #fff;
    
}

